<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div *ngIf="isAuthenticated">
<br>
<h1 class="soldan"><b>En Çok Puana Sahip 10 Proje</b> </h1>
<br>
<table class="table " >
    <th>Proje Adı </th>
    <th>Akademik Personel</th>
    <th>Proje Açıklaması  </th>
    <th>Proje Sahibi</th>
    <th>Proje Puanı  </th>
    <tr *ngFor="let project of projects"> 
      <td>{{project.projectName}}</td>
      <td>{{project.academicalPersonalName}}</td>
      <td>{{project.projectDescription}}</td>
      <td>{{project.studentNameandSurname}}</td>
      <td>{{project.projectScore}}  </td>
      <button  *ngIf="isAuthenticated" (click)="scoreArttir(project.projectID,project.studentID)"   onclick="location.reload()" class="far fa-thumbs-up soldanicon yukaridan"></button>
      <button  *ngIf="isAuthenticated" (click)="scoreAzalt(project.projectID,project.studentID)" onclick="location.reload()"  class="far fa-thumbs-down soldanicon yukaridan"></button>
      <td><a href="{{project.projectUrl}}" style="color:black" >Proje Adresine Git</a></td>
    </tr>
  </table>
</div>

<div *ngIf="!isAuthenticated">
    <h1>Error 404</h1>
<p>Page not found</p>
<a class="nav-link"  href="projects" style="color:black">Ana Sayfaya Dön</a>

</div>

