<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div *ngIf="isAuthenticated">
  <br>
  <h1 class="soldan"><b>Beğendiğim Projeler</b> </h1>
  
  <br>
  <br>
  <table class="table " >
      <th></th>
      <th>Proje Adı </th>
      <th>Proje Sahibi</th>
      <th>Proje Açıklaması  </th>
      <th>Proje Puanı  </th>
      <th>Proje Adresi </th>
      <tr *ngFor="let project of project"> 
        <td></td>
        <td>{{project.projectName}}</td>
        <td>{{project.studentNameandSurname}}</td>
        <td>{{project.projectDescription}}</td>
        <td>{{project.projectScore}}  </td>
        <td><a href="{{project.projectUrl}}" style="color:black">Proje Adresine Git</a></td>
        <button  *ngIf="isAuthenticated" (click)="scoreAzalt(project.projectID,project.studentID)"  class="yukaridan" onclick="location.reload()" >Beğeniyi kaldır</button>
        
      </tr>
    </table>
  </div>

<div *ngIf="!isAuthenticated" >
    <h1 >Error 404</h1>
<p>Page not found</p>
<strong><a class="nav-link"  href="projects" style="color:black">Sayfaya Dön </a></strong>
</div>

